*{padding:0;margin:0;}
.float{
	position:fixed;
	width:60px;
	height:60px;
	right:50px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  z-index: 999999;
}

@media (max-width: 1281px) {
  .float { bottom:40px;
  box-shadow: 2px 2px 3px #999; }
}
@media (min-width:1281px){
  .float { top:10px; }
}

.my-float{
	margin-top:20px;
}

#ex3 .fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:50%;
  line-height:.8em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  font-weight:bold;
}


.freelancer-details-list{
  text-align: center;
}

.rzslider .rz-pointer{
  background-color : #ea7c11!important;
}

.avatar-wrapper .profile-pic-custom{
  object-fit : scale-down!important;
}

/*.custom-footer{
  position: absolute;
  bottom: 0;
}*/

#sign-in-dialog button{
  border:0;
}
#sign-in-dialog button span{
  color: #fff;
}